---
---


@import "{{ site.theme }}";

.site-footer {
  display: none;
}

.footer {
  text-align: center;
  padding-top: 20px;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
  color: #606c71;
}

.main-content {
   display: flex;
   min-height: 70vh;
   flex-direction: column;
}

.nav {
  flex: 1;
}

.nav li a {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5em;
}

@media screen and (max-width: 42em) {
  .main-content {
    min-height: calc(100vh - 138px);
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    min-height: calc(100vh - 182px);
  }
}

@media screen and (min-width: 64em){
  .main-content {
    min-height: calc(100vh - 270px);
  }
}

